/*
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
header {
font-family: 'Rammetto One', cursive;
}
*/

/*
nav.main-nav a.cta {
	color: #797979;
	border: 2px solid #27DA8A;
}

nav.main-nav a, #footer a, #post-nav a, p a {
	box-shadow: inset 0 -2px 0 #27DA8A;
}

nav.main-nav a.cta:hover {
	background: #27DA8A;
	color: #797979;
	margin-left: 12px;
}
*/